shootingcenter.click {
    # API requests
    route /api/* {
        uri strip_prefix /api
        reverse_proxy backend:3001 {
            # Retry if backend fails
            lb_try_duration 5s
            lb_try_interval 250ms
        }
    }
    
    # Frontend
    route /* {
        reverse_proxy frontend:80
    }
}

www.shootingcenter.click {
    redir https://shootingcenter.click{uri}
}
