shootingcenter.click {
    @api path /api/*
    @media path /media/*
    
    handle @api {
        reverse_proxy backend:3001
    }
    
    handle @media {
        reverse_proxy backend:3001
    }
    
    handle {
        reverse_proxy frontend:80
    }
}

www.shootingcenter.click {
    redir https://shootingcenter.click{uri}
}
